NEXT_PUBLIC_SUPABASE_URL=https://xwnfltqlftbiwwbrlcqp.supabase.co
NEXT_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh3bmZsdHFsZnRiaXd3YnJsY3FwIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODMxNDc2NDAsImV4cCI6MTk5ODcyMzY0MH0.uj3od6fkLNdiL5IECvMO5Jm-1E6qjNJQ42NP5ZsCxNw
NEXT_PUBLIC_OPENAI_API_KEY=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