@tailwind components;
@tailwind utilities;
html,
body,
#__next,
.main {

}
.config-form {
  width: 800px;
  overflow: auto;

}
.project-list {
  li a:before {
    content: '# ';
    opacity: 0.5;
  }
  li a:hover {
    opacity: 0.9;
  }
}
.Layers {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 30px #BCBCBC;
  padding: 20px;
  margin-bottom: 40px;
}

.add_card {
  width: 200px;
  height: 200px;
  border: 4px dotted #BCBCBC;
  border-radius: 5px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48pt;
  color: #BCBCBC;
}

.add_card:hover {
  cursor: pointer;
}